{{ define "main" }}

<header class="header">
  <div class="container h-100">
    <div class="row h-100 align-items-center text-white">
      <div class="col-12"></div>
    </div>
  </div>
</header>

<div class="container-fluid py-5">
  <div class="container col-8">
    <h3 class="text-center font-weight-bold">
      We help students engage in<br />
      Work-Based Learning
    </h3>
    <div class="py-2"></div>
    <h6 class="text-center small">
      When we start with learners, we start from a place of possibility. We can
      imagine an education that values empathy and celebrates creativity. In a
      world that’s changing faster than ever, students can develop the agency to
      drive their own learning for life.
    </h6>
  </div>
</div>

<div class="container-fluid bg-light py-5">
  <div class="container col-8">
    <h3 class="text-center font-weight-bold">
      Let's reimagine education together
    </h3>
    <div class="py-2"></div>
    <h6 class="text-center small">
      AltSchool is part of a growing community of forward-thinking districts and
      schools. Together, we’re building a comprehensive platform for learning
      that puts students at the center. Rooted in educational research, our
      flexibly designed products and services enable increasingly
      learner-centric experiences.
    </h6>
    <a href="" class="text-static"><h6 class="text-center small">Learn More</h6></a>
  </div>
  <div class="py-2"></div>

  <div class="container col-8">
    <div class="card-group">
      <div class="card p-5">
        <img src="/img/masthead/newcoding.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Expanded Learning</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <a href="" class="text-static"><h6 class="small">Learn More</h6></a>
        </div>
      </div>
      <div class="card p-5">
        <img src="/img/masthead/iscof.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">The Philippines Initiative</h5>
          <p class="card-text">
            This card has supporting text below as a natural lead-in to
            additional content.
          </p>
          <a href="" class="text-static"><h6 class="small">Learn More</h6></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5">
  <div class="container col-8">
    <h3 class="text-center font-weight-bold">
      Start with students, starting now
    </h3>
    <div class="py-2"></div>
    <h6 class="text-center small">
      Empower children for the future by transforming educational experiences in
      your school today. With support from our expert team, you can cultivate
      learner-centric environments as unique as your learners.
    </h6>
  </div>
  <div class="py-2"></div>
  <div class="container col-8">
    <img
      src="/img/masthead/hackathon.png"
      alt=""
      class="img-thumbnail border-0"
    />
  </div>
  <div class="py-2"></div>
  <div class="container text-center">
    <a href="/services/" class="">
      <button class="btn btn-outline-alpha">Join The Movement</button>
    </a>
  </div>
</div>

<div class="container-fluid bg-light py-5">
  <div class="container col-8">
    <h3 class="text-center font-weight-bold">
      Discover how these schools are transforming education
    </h3>
    <div class="py-2"></div>
    <h6 class="text-center small">
      Innovative learning communities across the U.S. are breaking new ground
      with a common vision for learning that is self-driven, competency-based,
      personalized, socially embedded, and open-walled.
    </h6>
    <a href="" class="text-static text-decoration-none"><h6 class="text-center small">Learn More</h6></a>
  </div>
</div>

<header class="contact">
  <div class="container h-100">
    <div class="row h-100 align-items-center text-white">
      <div class="col-12">
        <h2 class="font-weight-bold">Let's transform education together</h2>
        <a href="" class=""
          ><button
            class="btn btn-alpha text-alpha font-alpha px-3 py-2"
          >
            Contact Us
          </button></a
        >
      </div>
    </div>
  </div>
</header>
{{ end }}
